# RewriteEngine on
# RewriteBase /
# Options +FollowSymLinks

# RewriteRule ^(.*)$ backend/public/index.php?$1 [L,QSA]

#RewriteCond %{REQUEST_URI} ^(.+)/$
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-l
# RewriteCond %{REQUEST_URI} ^/backend/public/

# RewriteRule ^(.*)$ public/$1 [L]
# RewriteRule ^http:(.*)$ ftp:$1

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^(.*)$ public/index.php?$1 [R,L,QSA]
</IfModule>
