RewriteEngine on
RewriteBase /
Options +FollowSymLinks

RewriteRule ^(.*)$ backend/public/index.php?$1 [L]

#RewriteCond %{REQUEST_URI} ^(.+)/$
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-l
# RewriteCond %{REQUEST_URI} ^/backend/public/

# RewriteRule ^backend/public/(.*)$ f [R=301,L,QSA]
# RewriteRule ^http:(.*)$ ftp:$1

